html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; // Prevent horizontal scrolling
    overflow-y: hidden; // Prevent vertical scrolling unless required
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garamond', serif;
}

body {
    background-color: #121212;
    color: #f5f5f5;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #f5f5f5;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff6b6b;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.5s ease; // Smooth transition for all adjusted properties
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; // Start transparent and transition to a solid color on scroll
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.hero-image {
    position: relative;
    width: 100vw; // Full width of the viewport
    height: 100vh; // Full height of the viewport
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire area without losing aspect ratio */
}

.logo-hero {
    transition: transform 0.5s ease, font-size 0.5s ease; // Smoothly transition position and size
}
