/* Ensuring the HTML and body take full height of the viewport and no unwanted overflow */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Allow vertical scroll only if necessary */
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Garamond', serif;
}

body {
    background-color: #121212;
    color: #f5f5f5;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #f5f5f5;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff6b6b;
}

/* Header adjustments specifically for the homepage */
header {
    background-color: transparent; /* Initially transparent, becomes opaque on scroll */
    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.5s ease; /* Smooth transition for background color */
    z-index: 1000; /* High z-index to keep nav on top */
    display: flex; /* Use flexbox for centering items */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Hero Video Section adjustments */
.hero-image {
    position: relative;
    width: 100%;
    height: 100vh; /* Full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* No overflow */
}

#hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the entire area without losing aspect ratio */
}

.logo-hero {
    font-size: 4em; /* Large size initially */
    color: #fff;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease; /* Smooth transition for resizing and repositioning */
}
